body{
    margin: 0px;
    padding: 0px;
}

/* container */

#box1{
    background-image: url("images/image6.jpg");
    background-repeat: repeat;
    background-size:cover;
    padding-bottom: 25px;
    height: 500px;
    position: relative;
  }

/* navbar */

  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-top:20px ;
  }
  
 #logo {
    margin-left:5% ;
    display: flex;
    width: 20%;
    align-items: center;
    gap: 8px;
    font-family: 'poppins Medium';
 }

  #logo img {
    width: auto;
    height: 30px;
    background-size: contain;
  }

  #links{
    margin-left: 2%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    
  }

  #links a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(34, 32, 32);
    font-family: 'Ubuntu', sans-serif;
  }


  #login-wrapper{
    margin-left: 40px;
  }
  #login-wrapper a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(34, 32, 32);
    font-family: 'Ubuntu', sans-serif;
  }

  #contact-us{
    font-size: 13px;
    margin-left: 5% ;
    margin-right: 5%;
  }
  #contact-us a{
    text-decoration: none;
    color: rgb(39, 36, 36);
    font-family: 'Ubuntu', sans-serif;
  } 



  #text-wrapper{
    width: 50%;
    margin-left: 150px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 190px;
     
  }

  #text-wrapper h1 {
    letter-spacing: -1px;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 245, 245);
    padding-left: 20px;
    padding-right: 20px;
    

  }
  #text-wrapper h6 {
    margin-top: -20px;
    font-size: 23px;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);

  }

  /* search bar */


  /* Style the search container */
.search-container {
    position: relative;
    width: 500px;
    height: 30px;
    margin: -10px 380px;
  }

  
  /* Style the search input field */
  .search-container input[type=text] {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 60px 0 20px;
    background-color: #fff;
    border: none;
    border-radius: 35px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the search button */
  .search-container button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100px;
    height: 50px;
    background-color: rgb(243, 71, 8);
    border: none;
    border-radius: 25px;
    left: 480px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  /* Add hover effect to the search button */
  .search-container button[type=submit]:hover {
    background-color:  rgb(243, 71, 8);
    transform: scale(1.1);
  }
  
  /* Add icon to the search button */
  .search-container button[type=submit] i {
    margin-right: 5px;
  }
  
  /* Style the line */
  .search-container .line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ddd;
    border-radius: 3px;
    z-index: 1;
    transition: all 0.2s ease;
    
  }
  
  /* Add focus effect to the line */
  .search-container input[type=text]:focus + .line {
    background-color: rgb(243, 71, 8);
  }
  

  #box2 {
    display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   justify-items: center;
   align-items: center;
   background-color: white;
   color: rgb(163, 158, 158);
   position: absolute; left: 50%; transform: translate(-50%, -50%); z-index: 1;
   /* border: 1px solid rgb(238, 231, 231); */
   width: 1000px;
   margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .package {
    display: flex;
    align-items: center;
    width: 230px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding-left: 20px;
  }
  .package h6 {
    margin-left: 30px;
    font-family: 'Ubuntu', sans-serif;
  }


#box3 {
    margin-top: 130px;
}  
.shadow {
    position: relative;
    color: rgb(250, 248, 248);
    /* border: 1px solid black; */
    text-align: center;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -8px;
}
.travel {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 23px;
    letter-spacing: 2px;
    position: static; transform: translate(-0%, -440%); z-index: 1;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(68, 64, 64);
}

.shadow p {
    color: rgb(213, 205, 205);
    font-size: 15px;
    letter-spacing: normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -40px;
}

#city {
    display: flex;
    /* margin-top: 90px; */
    justify-content: center;
    
}

.city-wrapper {
    display: flex;
    align-items: center;
    width: 220px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 10px;
    height:70px;
  }
  .city-wrapper h6 {
    color: rgb(219, 214, 208);
    font-size: 15px;
    margin-left: 30px;
    font-family: 'Ubuntu', sans-serif;
  }

 #box4 {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
 } 

 .about-wrapper{
    margin: auto;
    margin-top: -17px;
    font-family: 'Ubuntu', sans-serif;
    color:rgb(88, 80, 80);
    font-size: 20px;
 }
 .about-wrapper p{
    color:rgb(200, 193, 193);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
 }

 .about-wrapper button{
    width: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
    background-color: orangered;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
 }


 .about-image-wrapper{
    margin: auto;
 }


 /* footer */
 
  footer::before {
    content: "";
    position: absolute;
    top: 75%;
    left: 20px;
    right: 20px;
    height: 2px;
    background-color: #ccc;
    transform: translateY(-50%);
  }
 footer {
    font-size: 13px;
    position: relative;
    background-color: #171515;
    padding: 40px 0;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .coloumn {
    display: flex;
    justify-content: space-around;
  }
  
  footer h4 {
    color: #f0eded;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer p {
    color:  #dacfcf;
    line-height: 1.6;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    margin-bottom: 10px;
    color:  #dacfcf;
  }
  
  footer a {
    color:  #dacfcf;
    text-decoration: none;
  }
  
  footer a:hover {
    color:  #dacfcf;
    text-decoration: underline;
  }

#box5 {
    margin-top: 100px;
}

/* search bar */
.containe{
    margin-top:20px;
}

.btn:hover{
    color:#fff;
}

.input-text:focus{
       
  
    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}



/* mid section */

.basic{
   margin-top: 50px;
    display: flex;
    gap: 45px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;

}
.basic_div {
    font-size: 16px;
    width: 25%;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    font-family: fangsong;
}

.basic img {
    display: block;
    max-width: 100%;
    width: 280px;
    height: 200px;
    border-radius: 15px;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.basic_div button {
    padding: 10px 20px;
    background-color: #da451c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 90%;
    cursor: pointer;
}

.basic_div h2{
    margin-top: 15%;
    text-align: center;
    font-size: 110%;
    font-family: sans-serif;
    color: rgb(44, 44, 44);
}
.basic_div > p{
    text-align: center;
    color:rgb(191, 180, 180)
}
.basic_div > div{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 14px;
    color:rgb(191, 180, 180)
    
}

#mid_button {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
}
#mid_button button {
    width: 180px;
    padding: 10px 20px;
    background-color: #da451c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    
    
}
.map_div{
    display: flex;
    
}
#image_map{
    width: 50%;
}
#image_map img{
    width: 50%;
    margin-left: 140px;
}
#info_div{
    margin-left: 90px;
    font-size: 15px;
    margin-top: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
#info_div h2 {
    margin-top: 30%;
    }
#info_div p {
    margin-top: 20px;
text-align: justify;
font-size: 15px;
color: rgb(188, 193, 199);
}


.back_image {
    margin-top: 50px;
    position: relative;

}

.back_image img{
    opacity: 0.6;
    height: 350px;
    width: 100%;
}

.back_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.back_image_text h4 {
    font-size: 24px;
    color: rgb(244, 30, 30);
}

.back_image_text h1 {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(47, 45, 45);
    margin-bottom: 20px;
    letter-spacing: -1px;
}

.back_image_text button {
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: #da451c;
    color: rgb(255, 254, 254);
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}

